* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	font-size: 20px;
	height: 100vh;
	display: grid;
	grid-template-columns: 70px 1fr;
	grid-template-rows: 50px 1fr;
}

menu {
	background-color: #5056ac;
	grid-column: 2 / -1;
	text-align: center;
	/* 	display: grid;
	grid-template-columns: 20px 500px 500px 300px 200px;
	grid-auto-flow: column;
 */
}

/* .menuItems {
	grid-template-columns: 70px 100px 100px 1fr;
} */
main {
	background-color: #f1f1f1;
}
aside {
	background-color: #edf2ff;
}
